body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* LOGO */


/* .logo {
    position: absolute;
    top: -10px;
    left: -10px;
} */

.logo img {
    width: 100px;
    height: auto;
}

.logo img {
    animation-name: logo-move;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

@keyframes logo-move {
    from {
        width: 300px;
        height: auto;
        /* position: absolute; */
        /* top: 50%;
        left: 50%; */
        transform: translate(-50%, -50%);
    }

    to {
        width: 100px;
        height: auto;
        position: absolute;
        top: -5px;
        left: -5px;
        transform: none;
    }
}

/* MENU */

.allmenu {
    /* position: absolute;
    top: 10px;
    right: 10px; */
    width: 190px;
}

.image-menu {
    width: 50px;
    height: auto;
    transition: transform 0.2s ease-in-out;
    margin-left: 80px;
}

.image-menu:hover {
    transform: scale(1.05);
}

#menu-bouton {
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

#menu-bouton:hover {
    transform: scale(1.05);
}

.menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    background-color: #fff;
    font-weight: bolder;
}

#menu-bouton:hover+.menu,
.menu:focus,
.menu:hover {
    opacity: 1;
    visibility: visible;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.menu ul a {
    text-decoration: none;
    color: black;
}

.menu ul a:hover {
    text-decoration: none;
    color: magenta;
}

/* CARD */

.card {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: auto;
    font-size: 17px;
    background-color: #fff;
    color: #3c096c;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 20px;
}

.card ul li {
    font-weight: bolder;
}

.card2,
.card3 {
    margin-top: 20px;
}

.card:hover {
    transform: scale(1.05);
}

.card ul li:hover {
    color: black;
}

.card ul p {
    color: magenta;
    font-weight: bolder;
}

.card a {
    text-decoration: none;
    color: magenta;
    font-weight: bolder;
}

.card a:hover {
    color: black;
    font-weight: bolder;
}

#supprime-ligne {
    list-style-type: none;
}

#titre-song {
    font-weight: bolder;
}

#lien-song {
    position: relative;
    bottom: 20px;
}

/* IMAGE DESTINE */

.destine-image {
    margin-top: 100px;
    text-align: center;
}

.destine-image img {
    width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.destine-image img:hover {
    transform: scale(1.05);
}

/* FOOTER */


.allfooter {
    background-color: #333;
    border-right: 1px solid #333;
    color: #fff;
    padding: 20px;
    position: relative;
    bottom: -20px;
    width: 97.3%;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.footer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0aaff;
}

.footer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #e0aaff;
}

.image-instagram,
.android-image {
    width: 20px;
    height: auto;
}

.lienfooter {
    text-decoration: none;
    color: #e0aaff;
    cursor: pointer;
    margin: 10px 0;
}

.lienfooter:hover {
    color: magenta;
    text-decoration: underline;
}

/* BOUTON REMONTER */

#bouton-remonter {
    margin: auto;
    background-color: #444;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#bouton-remonter a {
    color: #fff;
    text-decoration: none;
}

#bouton-remonter a:hover {
    color: magenta;
    text-decoration: none;
}


/* RESPONSIVE */

@media only screen and (min-width: 820px) and (max-width: 1024px) {
    #lien-song {
        top: 1px;
        left: 70px;
    }

    .destine-image {
        margin-top: -100px;
    }
}

@media (min-width: 1025px) and (max-width: 2000px) {
    .destine-image {
        margin-top: -150px;
    }
}


@media only screen and (min-width: 381px) and (max-width: 819px) {

    header {
        width: 100%;
    }

    .destine-image img {
        width: 100%;
    }

    .destine-image {
        margin-top: -150px;
    }
}


@media only screen and (max-width: 380px) {

    .logo img {
        max-width: 100px;
    }

    .allmenu {
        width: 110px;
    }

    .image-menu {
        width: 50px;
        margin: 0 auto;
        margin-left: 60px;
    }

    .card {
        max-width: 90%;
        margin: auto;
        font-size: 15px;
    }

    .card2,
    .card3 {
        margin-top: 0px;
    }

    .card1 {
        height: 500px;
    }

    .card2 {
        height: auto;
    }

    .card3 {
        height: auto;
    }

    #lien-song {
        display: none;
    }

    .destine-image {
        margin-top: -200px;
    }

    .destine-image img {
        width: 370px;
        height: auto;
    }

    .allfooter {
        max-width: 100%;
        padding: 10px;
        margin-top: 20px;
    }

    .footer1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer2 {
        flex-direction: column;
        align-items: center;
    }

    #bouton-remonter {
        position: relative;
        left: 0px;
    }
}